<ion-header>
  <ion-toolbar>
    <ion-title>Main Page</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">This is the menu content.</ion-content>
<div class="ion-page">
  <ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Main Page</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 

    <ion-searchbar color="success" placeholder="Tags"></ion-searchbar>






    <ion-card button="True" [routerLink]="['/entries']">
      <img class="cardImage" alt="Silhouette of mountains" src="/assets/PlaceHolders/TurtleBite.jpg" />
      <ion-card-header>
        <ion-card-title class="greenText title">Turtle Teeth</ion-card-title>
        <ion-card-subtitle>Tags: Curiosities - Animals </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <p>Essay on some fascinating facts about Turtles and their apparent lack of real Teeth</p>
        <h4 style="text-decoration: underline;">Author: TheAnimalAnalizer</h4>
      </ion-card-content>
    </ion-card>

    <ion-card  button="True" [routerLink]="['/entry-placeholder']">
      <img class="cardImage" alt="Silhouette of mountains" src="/assets/PlaceHolders/Sacabambaspis.png" />
      <ion-card-header>
        <ion-card-title class="greenText title">SACABAMBASPIS</ion-card-title>
        <ion-card-subtitle>Tags: Curiosities - Prehistoric </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <p>Recount of many interesting facts and curiosities around the already extinct creature that is the SACABAMBASPIS</p>
        <h4 style="text-decoration: underline;">Author: SacabamLover065</h4>
      </ion-card-content>
    </ion-card>





  </ion-content>
</div>
