ion-toolbar {
    color: #7edc52;
    font-family: monospace;
}



h5 {
    color: #7edc52;
}

p {
    font-family: monospace;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.greenText {
    color: #7edc52;
}

.cardImage {
    aspect-ratio: 16/9
}

.title {
    font-family: serif;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 16px; 
  }