<ion-header>
  <ion-toolbar>
    <ion-title>Main Page</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">This is the menu content.</ion-content>
<div class="ion-page">
  <ion-header>
    <br>
    <br>
    <br>
  </ion-header>
  <ion-content class="ion-padding"> 
    <br>

    <img class="logo"
    src="/assets/HW_Logo.png"
    alt="logo"
    >

    <div>
      <!-- Entradas generadas automaticamente-->    
      <ion-card *ngFor="let entry of entries" button="True" (click)="irEntry(entry.entry_id, entry.user_id)" >
        <img class="cardImage" alt="Silhouette of mountains" [src]="entry.image" />
        <ion-card-header>
          <ion-card-title class="greenText title">{{entry.entry_title}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>{{entry.briefing}}</p>
        </ion-card-content>
      </ion-card>

    </div>

  </ion-content>
</div>
