<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/entry-admin']"> Mod-Ops </ion-button>
    </ion-buttons>
    <ion-title>Entry</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Entrada como tal -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">entries</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="none" >
    <ion-item>
      <!-- Titulo -->
      <h1>{{entry_title}}</h1>
    </ion-item>

    <ion-item>
      <!-- Imagen -->
       <img [src]="imagen" alt="imagen_entrada">
    </ion-item>

    <ion-item color="light">
      <!-- Content -->
      <p>{{entry_content}}</p>
    </ion-item>
  
  </ion-list>

  <!-- Seccion de Fuentes -->

  <ion-list>


    <ion-item>
      <!-- Sources -->
      <h2>Sources</h2>

    </ion-item>

    <ion-item>
      <!-- Sources1 -->
      <p>{{sources}}</p>
    </ion-item>

  </ion-list>

  <!-- Autor, Opciones y Tags -->

  <ion-list lines="none">
    <ion-item>
      <!-- Author -->
       <h3>Author: </h3>
      <p>{{username}} <br> {{creation_date}}</p>
    </ion-item>

    <ion-item>
      <!-- Like and Follow -->

      <ion-icon size="large" class="green center" name="heart-outline" *ngIf="!like" button="True" (click)="likeEntry()"></ion-icon>
      <ion-icon size="large" class="green center" name="heart" *ngIf="like"utton="True" (click)="likeEntry()"></ion-icon>

      <ion-icon size="large" class="green center" name="person-add-outline" *ngIf="!follow" utton="True" (click)="followEntry()"></ion-icon>
      <ion-icon size="large" class="green center" name="person-add" *ngIf="follow" utton="True" (click)="followEntry()"></ion-icon>


    </ion-item>

    <!--
    <ion-item>
      <!- Options ->
      <ion-button  size="large" class="center botonVerde" color="blue" (click)="likeEntry()" >
        Like Entry
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button  size="large" class="center botonVerde" color="blue" (click)="followEntry()" >
        Follow Author
      </ion-button>
    </ion-item>

    -->

    <ion-item>
      <!-- Options -->
      <ion-button  size="large" class="center botonVerde" color="blue" [routerLink]="['/annotation-forms']">
        Create Annotation
      </ion-button>
    </ion-item>



    <ion-item>
      <!-- Tags -->
       <div class="center">
        <h1>Tags</h1>
        <p class="centerText">{{tags}}</p>
       </div>
    </ion-item>


  </ion-list>
  
</ion-content>
