<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Entry</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Entrada como tal -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">entries</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="none" >
    <ion-item>
      <!-- Titulo -->
      <h1>TURTLE TEETH</h1>
    </ion-item>

    <ion-item>
      <!-- Imagen -->
       <img src="/assets/PlaceHolders/TurtleBite.jpg" alt="tortle">
    </ion-item>

    <ion-item color="light">
      <!-- Content -->
      <p>Turtles are fascinating reptiles that have inhabited our planet for over 200 million years. Unlike many other animals, turtles do not have teeth in the traditional sense. Instead, they possess specialized structures in their jaws that allow them to feed on different types of food. This essay will explore the characteristics of these structures and their importance in turtle biology.</p>
    </ion-item>

    <ion-item>
      <!-- Content 2 -->
      <p>Keratinized Beak <br>
        Turtles have a beak made of keratin, the same protein that makes up our nails and hair. This beak is sharp and helps them cut and tear their food.</p>
    </ion-item>

    <ion-item color="light">
      <!-- Content 3 -->
      <p>Species Variability <br>
        Depending on the species, the shape and size of the beak can vary significantly.
        For example, sea turtles, like the hawksbill turtle, have more curved beaks that allow them to feed on jellyfish and other marine organisms.</p>
    </ion-item>

    <ion-item>
      <!-- Content 4 -->
       <p>Feeding Efficiency <br>
        The absence of teeth and the presence of a keratinized beak are adaptations that allow turtles to be more efficient in obtaining food in their respective habitats.</p>
    </ion-item>

    <ion-item color="light">
      <!-- Content 5 -->
       <p>Survival <br>
        These adaptations have been crucial for the survival of turtles throughout evolution, allowing them to adapt to different environments and food sources.</p>
    </ion-item>

    <ion-item>
      <!-- Content 6 -->
       <p>Conclusions <br>
        Turtles are an impressive example of how nature finds unique solutions to the challenges of life. Although they lack teeth, their keratinized beaks are an effective adaptation that allows them to feed and survive in their diverse habitats. The diversity in the shape and function of these beaks reflects the rich evolutionary history of turtles and their ability to adapt to changing environmental conditions.
        <br>
        This study on turtle teeth not only offers us insight into their biology but also reminds us of the importance of conserving these unique creatures in our ecosystems.</p>
    </ion-item>
  
  </ion-list>

  <!-- Seccion de Fuentes -->

  <ion-list>


    <ion-item>
      <!-- Sources -->
      <h2>Sources</h2>

    </ion-item>

    <ion-item>
      <!-- Sources1 -->
      <p>Scientific Articles <br>
        "Feeding Ecology of Sea Turtles": A study that analyzes the feeding strategies of sea turtles and the adaptations of their beaks.
        <br>
        "Morphological Adaptations of Turtles": Article that discusses the morphological adaptations of turtles, including the structure of their jaws.</p>
    </ion-item>

    <ion-item>
      <!-- Sources2 -->
      <p>Online Resources <br>
        National Geographic: Provides general information about turtles, their biology, and their ecology.
        <br>
        World Wildlife Fund (WWF): Offers resources on the conservation of turtles and their importance in the ecosystem.</p>
    </ion-item>

  </ion-list>

  <!-- Autor, Opciones y Tags -->

  <ion-list lines="none">
    <ion-item>
      <!-- Author -->
       <h3>Author: </h3>
      <p>TheAnimalAnalyzer <br> 2/09/2024</p>
    </ion-item>

    <ion-item>
      <!-- Options -->
      <ion-button  size="large" class="center botonVerde" color="blue">
        Like Entry
      </ion-button>
      <ion-button  size="large" class="center botonVerde" color="blue">
        Follow Author
      </ion-button>
    </ion-item>
    <ion-item>
      <!-- Options -->
      <ion-button  size="large" class="center botonVerde" color="blue">
        Create Annotation
      </ion-button>
    </ion-item>



    <ion-item>
      <!-- Tags -->
       <div class="center">
        <h1>Tags</h1>
        <p class="centerText">animals <br> curiosities</p>
       </div>
    </ion-item>


  </ion-list>
  
</ion-content>
