<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Entry</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Entrada como tal -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">entries</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="none" >
    <ion-item>
      <!-- Titulo -->
      <h1>SACABAMBASPIS</h1>
    </ion-item>

    <ion-item>
      <!-- Imagen -->
       <img src="/assets/PlaceHolders/Sacabambaspis.png" alt="sacabam">
    </ion-item>

    <ion-item color="light">
      <!-- Content -->
      <p>Sacabambaspis is a genus of vertebrates that lived during the Ordovician period. This fish, belonging to a group known as "agnathans" or jawless fish, has sparked the interest of paleontologists due to its unique characteristics and its importance in the evolution of vertebrates. Here are some interesting facts about this fascinating organism.</p>
    </ion-item>

    <ion-item>
      <!-- Content 2 -->
      <p> Unique Body Structure <br>
        Sacabambaspis had an elongated and flattened body, with a head that presented distinctive features, such as a prominent snout. <br>
        Unlike many current fish, it lacked jaws, which classifies it within the agnathans.</p>
    </ion-item>

    <ion-item color="light">
      <!-- Content 3 -->
      <p>Evolutionary Importance <br>
        Sacabambaspis is considered a crucial link in the evolution of vertebrates, as it represents a primitive form of fish. <br>
        Its study helps to understand how vertebrates began to diversify and adapt to different habitats.</p>
    </ion-item>

    <ion-item>
      <!-- Content 4 -->
       <p>Fossils and Discoveries <br>
        Sacabambaspis fossils have been the subject of numerous paleontological studies, which have allowed scientists to learn more about its morphology and ecology. <br>
        Fossil finds often show extraordinary details, such as the preservation of bony structures and soft tissue.</p>
    </ion-item>

    <ion-item color="light">
      <!-- Content 5 -->
       <p>Similarities with Other Agnathans <br>
        Although Sacabambaspis is unique, it shares certain characteristics with other agnathans such as Heterostraci and Ostracodermi, suggesting a common ancestor.</p>
    </ion-item>

    <ion-item>
      <!-- Content 6 -->
       <p>Conclusions <br>
        Sacabambaspis is not only interesting for its morphology and habitat, but also for its role in the evolutionary tree of vertebrates. As studies on this fish continue, it is expected that more details about its life and environment will be discovered, thus enriching our understanding of the history of life on Earth.</p>
    </ion-item>
  
  </ion-list>

  <!-- Seccion de Fuentes -->

  <ion-list>


    <ion-item>
      <!-- Sources -->
      <h2>Sources</h2>

    </ion-item>

    <ion-item>
      <!-- Sources1 -->
      <p>For additional information on Sacabambaspis and its characteristics, you can consult paleontology books and academic articles in specialized scientific journals.</p>
    </ion-item>


  </ion-list>

  <!-- Autor, Opciones y Tags -->

  <ion-list lines="none">
    <ion-item>
      <!-- Like and Follow -->

      <ion-icon size="large" class="green center" name="heart-outline" *ngIf="!like"></ion-icon>
      <ion-icon size="large" class="green center" name="heart" *ngIf="like"></ion-icon>

      <ion-icon size="large" class="green center" name="person-add-outline" *ngIf="!follow"></ion-icon>
      <ion-icon size="large" class="green center" name="person-add" *ngIf="follow"></ion-icon>


    </ion-item>

    <ion-item>
      <!-- Options -->
      <ion-button  size="large" class="center botonVerde" color="blue" (click)="likeEntry()" >
        Like Entry
      </ion-button>
      <ion-button  size="large" class="center botonVerde" color="blue" (click)="followEntry()" >
        Follow Author
      </ion-button>
    </ion-item>
    <ion-item>
      <!-- Options -->
      <ion-button  size="large" class="center botonVerde" color="blue" [routerLink]="['/annotation-forms']">
        Create Annotation
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <!-- Annotations Title -->
      <h1>Annotations</h1>
    </ion-item>


    <ion-item>
      <!-- Title -->
      <h2 class="annotationTitle">Recent Popularity</h2>
      <p>The Sacabambaspis has recently gained some fame due to the popularization of images
        (like the one the Author of this Entry chose) of a museum that tried to make some kind of taxidermy
        that went kind of wrong, but looks so funny, people posted it everywhere <br>
        -MemeResearcher
      </p>

    </ion-item>
  </ion-list>



  <ion-list>

    <ion-item>
      <!-- Tags -->
       <div class="center">
        <h1>Tags</h1>
        <p class="centerText">animals <br> curiosities</p>
       </div>
    </ion-item>


  </ion-list>
  
</ion-content>