<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title style="color: green;">Account</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Moderator</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
    <ion-list>

      <ion-item>
        <h1 class="centerText">Current App Statistics</h1>
      </ion-item>

      <ion-item>
        <h5 class="center">Accounts: </h5>
        <br>
        <h5>3</h5>
      </ion-item>

      <ion-item>
        <h5 class="center">Entries: </h5>
        <br>
        <h5>2</h5>
      </ion-item>

      <ion-item>
        <h5 class="center">Annotations: </h5>
        <br>
        <h5>1</h5>
      </ion-item>

    </ion-list>

    <ion-searchbar color="success" placeholder="Username"></ion-searchbar>

    <div>
      
    </div>

  </ion-content>
</div>