ion-toolbar {
    color: #7edc52;
    font-family: monospace;
}

h1 {
    color: #7edc52;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-weight: bold;
    font-family: serif;
    text-decoration: underline;
}

h2 {
    color: #7edc52;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: serif;
}

h3 {
    color: #7edc52;
    font-family: serif;
}

p {
    color: #7edc52;
    text-align: justify;
    text-justify: inter-word;
    font-family: monospace;
}

.botonVerde {
    color: black;
    background-color: #7edc52;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centerText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.green {
    color: #7edc52;
}