<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Entry-Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">


    <h1>Author</h1>
    <h2>name: {{Username}}</h2>

    <ion-item *ngIf="admin == true">
      <ion-button  size="large" class="center botonVerde" color="blue" (click)="IrAutor()" >
        See Author Account
      </ion-button>
    </ion-item>

    <h1>Entry</h1>

    <ion-item>
      <ion-textarea color="succes"
        placeholder="Deleted Entry Report"
        [autoGrow]="true"
        [(ngModel)]="Ereport"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-button  size="large" class="center botonVerde" color="blue"  (click)="ValidarEDelete()" >
        Deactivate Entry
      </ion-button>
    </ion-item>
    
    <h1>Annotations</h1>

    <ion-item *ngFor="let anotacion of anotaciones"  >
      <h2>{{anotacion.annotation_title}}</h2>
      <ion-button  size="large" class="center botonVerde" color="blue" (click)="desactivarAnnotation(anotacion.annotation_id)" >
        Deactivate  Annotation
      </ion-button>
    </ion-item>



  </ion-list>

</ion-content>
