ion-toolbar {
    color: #7edc52;
    font-family: monospace;
}

h5 {
    color: #7edc52;
    font-family: fantasy;
}

h1 {
    color: #7edc52;
    font-family: serif;
}

.botonVerde {
    color: black;
    background-color: #7edc52;
}

.centerText {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.descText{
    color: gray;
    font-style: italic;
}

.profile {
    width: 50%;
}