ion-toolbar {
    color: #000000;
    --background: #7edc52;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.botonVerde {
    color: black;
    background-color: #7edc52;
}

p {
    color: #47802d;
}

h3 {
    color: #7edc52;
}
