<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>

  <h3 class="centerText">Email </h3>
  <ion-item>
    <ion-input [clearInput]="true" helperText="Enter a valid email" placeholder="user@email.com" type="email" aria-required="true" [(ngModel)]="correo"></ion-input>
  </ion-item>

  <br>
  <h3 class="centerText">Username </h3>
  <p>-Between 5 and 20 characters</p>
  <ion-item>
    <ion-input [clearInput]="true" helperText="Avoid unprofesional usernames" placeholder="Username" [counter]="true" maxlength="20" [(ngModel)]="usuario"></ion-input>
  </ion-item>

    <h3 class="centerText">Password </h3>
    <p>-At least 8 characters long <br>
     -At least 1 Uppercase character <br>
     -At least 1 special character <br>
     -At least 1 number

    </p>
  <ion-item>
    <ion-input  [clearInput]="true" helperText="Use a strong password" color="success" type="password" placeholder="User Password" [(ngModel)]="contra1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input  [clearInput]="true" helperText="Make it easy to remember" color="success"  type="password" placeholder="User Password Confirmation" [(ngModel)]="contra2"></ion-input>
  </ion-item>
  <br>

  <ion-button  size="large" class="center botonVerde" color="blue" (click)="validarDatos()">
    Register
  </ion-button>

</ion-content>
