<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editing Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">account-forms</ion-title>
    </ion-toolbar>
  </ion-header>

  <h3>Profile Picture </h3>
  <img src="/assets/PlaceHolders/profile_PH.jpg" alt="perfil">

  <ion-button  size="large" class="center botonVerde" color="blue" >
    Change
  </ion-button>



    <h3>Description </h3>
    <ion-item>
      <ion-input labelPlacement="stacked" [clearInput]="true" placeholder="Brief Description of you" [(ngModel)]="correo"></ion-input>
    </ion-item>
  
    <h3 style="text-decoration: underline;">Themes of Interest </h3>
    <ion-item>
      <ion-input labelPlacement="stacked"  placeholder="Interests"></ion-input>
    </ion-item>
    <br>

    <h3 style="text-decoration: underline;">Sources </h3>
    <ion-item>
      <ion-input labelPlacement="stacked"  placeholder="Sources"></ion-input>
    </ion-item>
    <br>
  



    <ion-button  size="large" class="center botonVerde" color="blue" (click)="irPagina()">
      Finish
    </ion-button>








</ion-content>
