<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Entry Writer</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
    
    <h3 style="text-decoration: underline;">Title </h3>
    <ion-item>
      <ion-input color="succes" labelPlacement="stacked" [clearInput]="true" placeholder="Title of yout Entry" [counter]="true" maxlength="25" [(ngModel)]="titulo"></ion-input>
    </ion-item>
    <br>
    <h3 style="text-decoration: underline;">Image </h3>
    <img [src]="imagen" alt="Image">
    <ion-button  size="large" class="center botonVerde" color="blue" (click)="takePicture()" >
      Choose Image
    </ion-button>

    <br>
    <h3 style="text-decoration: underline;">Briefing </h3>
    <p>This will appear as part of the Thumbnail of the Entry on the Main Page</p>
    <ion-item>
      <ion-textarea color="succes"
        placeholder="Briefing of your Entry"
        [autoGrow]="true"
        [(ngModel)]="resumen"
      >
      </ion-textarea>
    </ion-item>

    <br>
    <h3 style="text-decoration: underline;">Entry Content </h3>
    <p>The Main Content of your Entry</p>
    <ion-item>
      <ion-textarea color="succes"
        placeholder="Entry Content"
        [autoGrow]="true"
        [(ngModel)]="contenido"
      >
      </ion-textarea>
    </ion-item>
    <br>

    <h3 style="text-decoration: underline;">Sources </h3>
    <p>Sources Used to create this Entry</p>
    <ion-item>
      <ion-textarea color="succes"
        placeholder="Sources"
        [autoGrow]="true"
        [(ngModel)]="fuentes"
      >
      </ion-textarea>
    </ion-item>
    <br>
  

    <ion-button  size="large" class="center botonVerde" color="blue" (click)="validarDatos()">
      Entry Preview
    </ion-button>
  
  </ion-content>
</div>