<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Entry Writer</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
    
    <h3 style="text-decoration: underline;">Title </h3>
    <ion-item>
      <ion-input color="succes" labelPlacement="stacked" [clearInput]="true" placeholder="Title of yout Entry" [counter]="true" maxlength="25" [(ngModel)]="correo"></ion-input>
    </ion-item>
    <br>
    <h3 style="text-decoration: underline;">Image (optional) </h3>
    <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image">
    <ion-button  size="large" class="center botonVerde" color="blue">
      Choose Image
    </ion-button>
  
    <br>
    <h3 style="text-decoration: underline;">Tags </h3>
    <p>Examples: animals - curiosity - informative - ancient_history</p>
    <ion-item>
      <ion-input color="succes" labelPlacement="stacked"  placeholder="Tags related to the Entry" [(ngModel)]="usuario"></ion-input>
    </ion-item>

    <br>
    <h3 style="text-decoration: underline;">Briefing </h3>
    <p>This will appear as part of the Thumbnail of the Entry on the Main Page</p>
    <ion-item>
      <ion-textarea color="succes"
        placeholder="Briefing of your Entry"
        [autoGrow]="true"
      >
      </ion-textarea>
    </ion-item>

    <br>
    <h3 style="text-decoration: underline;">Entry Content </h3>
    <p>Separate your important paragraphs with <br> " // " symbols </p>
    <ion-item>
      <ion-textarea color="succes"
        placeholder="Entry Content"
        [autoGrow]="true"
      >
      </ion-textarea>
    </ion-item>
    <br>

    <h3 style="text-decoration: underline;">Sources </h3>
    <p>Separate your different sources with <br> " // " symbols </p>
    <ion-item>
      <ion-textarea color="succes"
        placeholder="Sources"
        [autoGrow]="true"
      >
      </ion-textarea>
    </ion-item>
    <br>
  

    <ion-button  size="large" class="center botonVerde" color="blue" (click)="irPagina()">
      Entry Preview
    </ion-button>
    
    
  
  
  
  
  
  </ion-content>
</div>